<ion-view view-title="{{'promoteQuestion' | translate:'titles'}}">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="promotable in promotables" href="#/app/votables/{{promotable.id}}">
        <div class="container col-xs-12">
          <div class="row">
            <div class="col-xs-9">{{promotable.question}}</div>

            <div class="col-xs-2 text-right"><span class="glyphicon glyphicon-arrow-up"></span>{{promotable.answerUp}}</div>
            <div class="col-xs-1 text-right"><span class="glyphicon glyphicon-arrow-down"></span>{{promotable.answerDown}}</div>

          </div>

        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>