<ion-view view-title="{{'Questions Available for Voting' | translate:'titles'}}">
  <ion-content>
  <div class="spinner" style="z-index:99" ng-if="spinIt"><ion-spinner icon="android"></ion-spinner></div>
    <ion-list>
    <table>
      <ion-item ng-repeat="votable in votables" href="#/app/votables/{{votable._id}}">
        <div class="container col-xs-12">
          <div class="row">
            

            <div class="col-xs-9">{{votable.header}}</div>

            <div class="col-xs-2 text-right"><span class="glyphicon glyphicon-arrow-up"></span>{{votable.voteUp}}</div>
            <div class="col-xs-1 text-right"><span class="glyphicon glyphicon-arrow-down"></span>{{votable.voteDown}}</div>

          </div>

        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>